<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project.walk.dao.BoardAdminMapper">
	<insert id="insert">
		INSERT INTO boardadminvo (id, title, content, regdate, hitcnt, likecnt, writer, bnum, membervo_id)
		VALUES(seq_boardadminvo.nextval, #{title}, #{content}, sysdate, #{hitCnt}, 1, #{writer}, #{bnum}, #{membervo_id})
	</insert>
	
	<select id="nextBoardNum" resultType="int">
		<![CDATA[
			SELECT NVL(MAX(bnum),0) + 1 AS bnum
			FROM boardadminvo
		]]>
	</select>
	
	<!-- 유저 게시글  -->
	<select id="list" resultType="BoardAdminVO" >
		<![CDATA[
		SELECT * FROM boardadminvo ORDER BY id DESC
		]]>
	</select>
	
	<!-- 유저 게시글 상세보기 -->
	<select id="detail" resultType="BoardAdminVO">
		<![CDATA[
		SELECT * FROM boardadminvo WHERE id=#{id}
		]]>
	</select>
	
	<select id="update">
		UPDATE boardadminvo SET title = #{title}, content =
		#{content} WHERE bnum = #{bnum}
	</select>
</mapper>